// place your custom styles here

:root {
  --content-width: 1400px;
  --sidebar-width: 18rem;
}

// 首页分类标签图标 ant design 会有样式问题
/*.icon-wrapper {
  box-sizing: unset;
}*/
//主页博客列表宽度
#main-content.blog-home {
  max-width: 1200px;
}


table {
  margin: 0rem 0;
}


//博客内容宽度
#main-content.page {
  > * {
    padding-left: 5px;
    padding-right: 5px;
  }
}


